<% @dict.errors.full_messages.each do |msg| %>
  <p><%= msg %></p>
<% end %>
<!--[form:dict]-->
<p><label for="dict_category">Category</label><br/>
<%= text_field 'dict', 'category'  %></p>

<p><label for="dict_code">Code</label><br/>
<%= text_field 'dict', 'code'  %></p>

<p><label for="dict_title">Title</label><br/>
<%= text_field 'dict', 'title'  %></p>
<!--[eoform:dict]-->

