<% Dict.content_columns.each do |column| %>
  <p>
    <b><%= t(column.name) %>:</b>
    <%= @dict.send(column.name) %>
  </p>
<% end %>

<%= link_to t('edit'), edit_dict_path(@dict) %> ||
<%= link_to t('back'), dicts_path %>
