<% Dict.content_columns.each do |column| %>
  <p>
    <b><%= column.human_name %>:</b>
    <%= @dict.send(column.name) %>
  </p>
<% end %>

<%= link_to 'Edit', edit_dict_path(@dict) %>
<%= link_to 'Back', dicts_path %>
