<h1>Editing TimeCost</h1>


<%= form_for(:personalcharge, :url => personalcharge_path(@personalcharge), :html => { :method => :put }) do |f| %>

  <%= render :partial => 'form',:locals => { :f => f } %>
  <%= submit_tag 'Update' %>
<% end %>

<%= link_to 'Show', personalcharge_path(@personalcharge) %> |
<%= link_to 'Back', personalcharges_path %>
