<h1>New TimeCost</h1>

<% form_for(:personalcharge, :url => personalcharges_path) do |f| %>

  <%= render :partial => 'form' %>
  <%= submit_tag "Submit" %>
<% end %>

<%= link_to 'Back', personalcharges_path %>
