<h1><%=  "Editing Period" %></h1>

<%= error_messages_for :period %>

<% form_for(:period, :url => period_path(@period), :html => { :method => :put }) do |f| %>
<%= render :partial => 'form',:locals => { :f => f }%>
  <p>
    <%= submit_tag 'Update' %>
  </p>
<% end %>

<%= link_to 'View', period_path(@period) %> |
<%= link_to 'Back', periods_path %>
