<h1><%=  "New Period" %></h1>

<%= error_messages_for :period %>

<% form_for(:period, :url => periods_path) do |f| %>
<%= render :partial => 'form',:locals => { :f => f }%>
  <p>
    <%= submit_tag 'Submit' %>
  </p>
<% end %>

<%= link_to 'Back', periods_path %>
