<% if booking.user %>
	<tr>
	  <td><%= booking.user.english_name||booking.user.name %></td>
	  <td><%= booking.user.charge_rate  %></td>
	  <td><%= booking.hours %></td>
    <% if  booking.project.state != "closed" && booking.user_id == @project.manager_id %>
  	  <td>
        <%= link_to t('destroy'), [booking.project, booking], 
                    confirm: t('are_you_sure'), 
                    method: :delete %>
      </td>
    <% end %>
	</tr>
<% end %>