<% if booking.user %>
	<tr>
	  <td><%= booking.user.english_name||booking.user.name %></td>
	  <td><%= booking.user.charge_rate  %></td>
	  <td><%= booking.hours %></td>
	  <td><%= link_to 'Destroy', [booking.project, booking], :confirm => 'Are you sure?', :method => :delete if  booking.project.state != "closed" && booking.user_id != @project.manager_id%></td>
	</tr>
<% end %>