
<table>
  <tr>
    <th>Person</th>
    <th>Rate</th>
    <th>Hours</th>
    <th>OP</th>
  </tr>

<% @bookings.each do |booking| %>
  <tr>
    <td><%=h booking.person.english_name %></td>
    <td><%=h booking.person.charge_rate  %></td>
    <td><%=h booking.hours %></td>
    <td><%= link_to 'Destroy', booking_url(:project_id=>@project,:id=>booking), :confirm => 'Are you sure?', :method => :delete if  booking.project.state =="closed"%></td>
  </tr>
<% end %>
</table>

