<%= error_messages_for 'prj_expense_log' %>

<!--[form:prj_expense_log]-->
<p><label for="prj_expense_log_other">Other</label><br/>
<%= text_field 'prj_expense_log', 'other'  %></p>
<!--[eoform:prj_expense_log]-->

