<h1>Editing prj_expense_log</h1>

<% form_tag  :action => 'update', :id => @prj_expense_log  do%>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @prj_expense_log %> |
<%= link_to 'Back', :action => 'list' %>
