<h1>Listing prj_expense_logs</h1>
<%= link_to 'New prj_expense_log',  new_prj_expense_log_path %>
<table class="table table-bordered">
  <tr>
  <% for column in PrjExpenseLog.content_columns %>
    <th><%= column.human_name %></th>
    <th colspan="3">Operations</th>
  <% end %>
  </tr>
  <%= render @prj_expense_logs %>
</table>

<%= will_paginate @prj_expense_log_pages %>