<%= error_messages_for 'industry' %>

<!--[form:industry]-->
<p><label for="industry_code">Code</label><br/>
<%= text_field 'industry', 'code'  %></p>

<p><label for="industry_title">Title</label><br/>
<%= text_field 'industry', 'title'  %></p>
<!--[eoform:industry]-->

