<%= simple_form_for(@industry) do |f| %>
  <div class="col-md-3">
    <%= f.input 'code' %>
  </div>
  <div class="col-md-3">
    <%= f.input 'title' %>
  </div>
  <div class="col-md-12">
    <%= f.button :submit %>
  </div>
<% end %>