<h1>Listing industries</h1>

<table class="table table-bordered">
  <tr>
    <% Industry.content_columns.each do |column| %>
      <th><%= column.human_name %></th>
    <% end %>
    <th colspan="3"></th>
  </tr>
  <%= render @industries %>
</table>

<%= will_paginate @industries %>
<%= link_to 'New industry', new_industry_path %>
