<% for column in Industry.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @industry.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', edit_industry_path(@industry) %> |
<%= link_to 'Back', industries_path %>
