
<h3>Transfer project</h3><br/>
<b>from:</b><%= @project.job_code %><br/>
<b>to:</b>
<% if @zy_project.nil? %>
You must create ZY code first and approval it before transfer action.
<%else%>
<%= @zy_project.job_code %>
<hr/>
<%= @t_message %>
<% end %>