<%= error_messages_for 'sumselect' %>

<!--[form:sumselect]-->
<p><label for="sumselect_count_item">Count item</label><br/>
<%= text_field 'sumselect', 'count_item'  %></p>
<!--[eoform:sumselect]-->

