<h1>New receive_amount</h1>

<% form_tag  :action => 'create'  do%>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Back', :action => 'show', :controller => 'billings', :id => @billing.id %>
