<p><%= @resource.email %>, 你好!</p>

<p>有人发送了重置密码的请求，请点击如下链接</p>

<p><%= link_to '修改密码', edit_password_url(@resource, reset_password_token: @token, locale: I18n.locale) %></p>

<p>如果您没发送此请求，请忽略这封邮件。</p>
<p>不点击链接修改的话，您的密码不会变化。</p>