<h1><%=  "New Expense" %></h1>

<%= error_messages_for :expense %>

<%= form_for(:expense, :url => expenses_path) do |f| %>
<%= render :partial => 'form',:locals => { :f => f }%>
  <p>
    <%= submit_tag 'Submit' %>
  </p>
<% end %>

<%= link_to 'Back', expenses_path %>
